<div style="position: relative; width: 100%; height: 400px;">
    <canvas id="historicalChart"></canvas>
</div>

<script>
// Initialize the chart when the template is loaded
if (typeof initHistoricalChart === 'function') {
    initHistoricalChart();
}
</script>